<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<%= page_entries_info @cards %>
<br>

<table class="table table-striped">
<tbody>
  <% @cards.each do |card| %>
  <tr>
    <div style="display:inline-block;vertical-align:top;">
        <div><img src=<%= card.img %>></div>
        <div><%= card.number%><%= card.name %></div>
        <div><%= link_to 'é¸æŠ', card %></div>
    <div>
  </tr>
  <% end %>
</tbody>
</table>

<%= will_paginate @cards %>

<br>
