<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<%= form_tag cards_path, :method => 'get' do %>
  <%= label_tag :name, "カード名" %>
  <%= select_tag :name, options_from_collection_for_select(@name_list, :name, :name) %>
  <%= submit_tag "検索" %>
<% end %>

<%= page_entries_info @cards %>
<br>

<div>
  <% @cards.each do |card| %>
    <div style="display:inline-block;vertical-align:top;width:200px;" >
      <%= link_to card do %>
        <div><img src=<%= card.img %>></div>
        <div><%= card.number%> <%= card.name %></div>
      <% end %>
    </div>
  <% end %>
</div>

<%= will_paginate @cards %>

<br>
