<%= form_tag live_decks_path, remote: true do %>
  <h1>ライブ中</h1>
  <div>
    <% @live.each do |live| %>
      <div style="display:inline-block;vertical-align:top;width:200px;" >
        <div><img src=<%= live[0].img %>></div>
        <div><%= live[0].number %> <%= live[0].name %></div>
      </div>

      <% live[1].each_index do |index| %>
        <div style="display:inline-block;vertical-align:top;width:200px;" >
          <div><img src=<%= live[1][index].img %>></div>
          <div><%= live[1][index].number %> <%= live[1][index].name %></div>
        </div>
      <% end %>
      <br>
    <% end %>
  </div>

  <h1>待機中</h1>
  <div>
    <% @waiting.each_index do |index| %>
      <div style="display:inline-block;vertical-align:top;width:200px;" >
        <div><img src=<%= @waiting[index].img %>></div>
        <div><%= @waiting[index].number %> <%= @waiting[index].name %></div>
        <div>
          <%= check_box_tag "member[index][]", index, class: "checkbox" %>
        </div>
        <div><%= link_to '手札に戻す', back_decks_path(index: index), method: :post, remote: true, class: "btn btn-default" %></div>
      </div>
    <% end %>
  </div>

  <h1>セットリスト</h1>
  <%= link_to 'セットリストオープン', setlist_open_decks_path, method: :post, remote: true, type: :button, class: "btn btn-default" %>
  <div>
    <% @setlist_open.each_index do |index| %>
      <div style="display:inline-block;vertical-align:top;width:200px;" >
        <div><img src=<%= @setlist_open[index].img %>></div>
        <div><%= @setlist_open[index].number %> <%= @setlist_open[index].name %></div>
        <div>
          <%= radio_button_tag "music", index, class: "checkbox" %>
        </div>
      </div>
    <% end %>
  </div>
  <%= submit_tag "ライブする" %>
<% end %>

<h1>手札</h1>
<%= button_to '1ドロー', draw_decks_path, remote: true, class: "btn btn-default" %>
<div>
  <% @hands.each_index do |index| %>
    <div style="display:inline-block;vertical-align:top;width:200px;" >
      <div><img src=<%= @hands[index].img %>></div>
      <div><%= @hands[index].number %> <%= @hands[index].name %></div>
      <div><%= button_to '登場', enter_decks_path(index: index), remote: true, class: "btn btn-default" %></div>
      <div><%= button_to 'ボトムに送る', to_bottom_decks_path(index: index), remote: true, class: "btn btn-default" %></div>
      <div><%= button_to 'トップに送る', to_top_decks_path(index: index), remote: true, class: "btn btn-default" %></div>
    </div>
  <% end %>
</div>

<h1>山札</h1>
<%= button_to 'デッキトップ登場', enter_from_top_decks_path, remote: true, class: "btn btn-default" %>
