<p id="notice"><%= notice %></p>

<h1> デッキ名 : <%= @deck.name %> </h1>
<br>

<h1>Members</h1>
<div>
  <div style="display:inline-block;vertical-align:top;width:200px;" >
    <div><img src=<%= @start.img %>></div>
    <div><%= @start.number %> <%= @start.name %></div>
  </div>

  <% @members.each do |member| %>
  <div style="display:inline-block;vertical-align:top;width:200px;" >
    <div><img src=<%= member.img %>></div>
    <div><%= member.number %> <%= member.name %></div>
  </div>
  <% end %>
</div>

<h1>Musics</h1>
<div>
  <% @musics.each do |music| %>
  <div style="display:inline-block;vertical-align:top;width:200px;" >
    <div><img src=<%= music.img %>></div>
    <div><%= music.number %> <%= music.name %></div>
  </div>
  <% end %>
</div>

<br>
<%= link_to 'Edit', edit_deck_path(@deck), class: "btn btn-default" %> |
<%= link_to 'Back', decks_path, class: "btn btn-default"%>
