<p id="notice"><%= notice %></p>

<h1>Decks</h1> <table class="table table-striped">
  <thead>
    <tr>
      <th>デッキ名</th>
      <th>デッキID</th>
      <th>セットリストID</th>
  </thead>
  <tbody>
    <% @decks.each do |deck| %>
      <tr>
        <td><%= deck.name %></td>
        <td><%= deck.memberlist_id %></td>
        <td><%= deck.setlist_id %></td>
        <td><%= link_to "show", deck %></td>
        <td><%= link_to "destroy", deck, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>Members</h1>
<div>
  <% @members.each do |member| %>
  <div style="display:inline-block;vertical-align:top;width:200px;" >
    <div><img src=<%= member.img %>></div>
    <div><%= member.number %> <%= member.name %></div>
    <%= button_to "デッキから除く", deck_remove_member_path(:deck_id => member.id, :member_number => member.number), :remote => true %>
  </div>
  <% end %>
</div>

<h1>Musics</h1>
<div>
  <% @musics.each do |music| %>
  <div style="display:inline-block;vertical-align:top;width:200px;" >
    <div><img src=<%= music.img %>></div>
    <div><%= music.number %> <%= music.name %></div>
    <%= button_to "デッキから除く", deck_remove_music_path(:deck_id => music.id, :music_number => music.number), :remote => true %>
  </div>
  <% end %>
</div>

<br>

<%= form_tag decks_path, :method => :post do |f| %>
  <%= text_field_tag :name, params[:name] %>
  <%= submit_tag "確定" %>
<% end %>
