<p id="notice"><%= notice %></p>

<h1>Decks</h1>

<div>
  <% @cards.each do |card| %>
  <div style="display:inline-block;vertical-align:top;width:200px;" >
    <div><img src=<%= card.img %>></div>
    <div><%= card.number %> <%= card.name %></div>
  </div>
  <% end %>
</div>

<%= link_to 'New Deck', new_deck_path %>
