<p id="notice"><%= notice %></p>

<h1>Members</h1>

<%= form_for @search_form, as: 'search', url: :members, html: {method: :get} do |f| %>
  <%= f.collection_select :name, @name_list, :name, :name, :include_blank => true %>
  <%= f.collection_select :rarity, @rarity_list, :rarity, :rarity, :include_blank => true %>

  <%= f.submit "検索" %>
<% end %>

<%= page_entries_info @members %>
<br>

<div>
  <% @members.each do |member| %>
    <div style="display:inline-block;vertical-align:top;width:200px;" >
      <%= link_to member do %>
        <div><img src=<%= member.img %>></div>
        <div><%= member.number%> <%= member.name %></div>
      <% end %>
    </div>
  <% end %>
</div>

<%= will_paginate @members %>

<br>
