<p id="notice"><%= notice %></p>

<h1>Members</h1>

<%= form_for @search_form, as: 'search', url: :members, html: {method: :get} do |f| %>
  <div class="form-group">
    <%= f.label :name, "名前", class: "control-label col-xs-1" %>
    <%= f.collection_select :name, @name_list, :name, :name, :include_blank => true %>
  </div>

  <div class="form-group">
    <%= f.label :rarity, "★", class: "control-label col-xs-1" %>
    <%= f.collection_select :rarity, @rarity_list, :rarity, :rarity, :include_blank => true %>
  </div>

  <%= f.submit "検索", class: "btn btn-primary" %>
<% end %>

<br>
<%= page_entries_info @members %>
<br>

<div>
  <% @members.each do |member| %>
    <div style="display:inline-block;vertical-align:top;width:200px;" >
      <%= link_to member do %>
        <div><img src=<%= member.img %>></div>
        <div><%= member.number%> <%= member.name %></div>
      <% end %>
      <%= form_tag member_buy_path(:member_id => member.id, :member_number => member.number), :action => :buy, :remote => true do %>
        <%= select_tag :number, options_for_select(["0", "1", "2", "3", "4"]) %>
        <%= submit_tag "デッキに追加", class: "btn btn-success" %>
      <% end %>
    </div>
  <% end %>
</div>

<%= will_paginate @members, :renderer => BootstrapPagination::Rails %>

<br>
